
## <summary>policy for schillingcoin</summary>


########################################
## <summary>
##	Transition to schillingcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`schillingcoin_domtrans',`
	gen_require(`
		type schillingcoin_t, schillingcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, schillingcoin_exec_t, schillingcoin_t)
')


########################################
## <summary>
##	Execute schillingcoin server in the schillingcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`schillingcoin_initrc_domtrans',`
	gen_require(`
		type schillingcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, schillingcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search schillingcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`schillingcoin_search_lib',`
	gen_require(`
		type schillingcoin_var_lib_t;
	')

	allow $1 schillingcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read schillingcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`schillingcoin_read_lib_files',`
	gen_require(`
		type schillingcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, schillingcoin_var_lib_t, schillingcoin_var_lib_t)
')

########################################
## <summary>
##	Manage schillingcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`schillingcoin_manage_lib_files',`
	gen_require(`
		type schillingcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, schillingcoin_var_lib_t, schillingcoin_var_lib_t)
')

########################################
## <summary>
##	Manage schillingcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`schillingcoin_manage_lib_dirs',`
	gen_require(`
		type schillingcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, schillingcoin_var_lib_t, schillingcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a schillingcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`schillingcoin_admin',`
	gen_require(`
		type schillingcoin_t;
		type schillingcoin_initrc_exec_t;
		type schillingcoin_var_lib_t;
	')

	allow $1 schillingcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, schillingcoin_t)

	schillingcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 schillingcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, schillingcoin_var_lib_t)

')

